<mt-banner
    v-if="!isHidden"
    class="sw-settings-services-dashboard-banner__content"
    closable
    hide-icon
    @close="hideBanner"
>
    <div class="sw-settings-services-dashboard-banner__container">
        <div class="sw-settings-services-dashboard-banner__text">
            <h3 class="sw-settings-services-dashboard-banner__title">
                {{  $t('sw-settings-services.dashboard-banner.title') }}
            </h3>

            <p class="sw-settings-services-dashboard-banner__description">
                {{  $t('sw-settings-services.dashboard-banner.description') }}
            </p>

            <mt-button
                class="sw-settings-services-dashboard-banner__button"
                variant="primary"
                @click="$router.push({ name: 'sw.settings.services.index' })"
            >
                {{  $t('sw-settings-services.dashboard-banner.label-button-explore') }}

                <template #iconBack>
                    <mt-icon
                        name="solid-long-arrow-right"
                        size="var(--scale-size-12)"
                    />
                </template>
            </mt-button>
        </div>

        <div class="sw-settings-services-dashboard-banner__graphics">
            <img
                class="sw-settings-services-dashboard-banner__graphic sw-settings-services-dashboard-banner__graphic--light"
                :src="servicesGraphicLight"
                alt=""
            >

            <img
                class="sw-settings-services-dashboard-banner__graphic sw-settings-services-dashboard-banner__graphic--dark"
                :src="servicesGraphicDark"
                alt=""
            >
        </div>
    </div>
</mt-banner>
