{# eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks #}
{% extends '@Administration/administration/src/module/sw-foo/page/sw-foo-index/sw-foo-index.html.twig' %}

<div class="sw-foo">{{ title }}</div>
