{# eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks #}
{% extends '@Administration/administration/src/module/sw-foo/page/sw-foo-list/sw-foo-list.html.twig' %}

{% block sw_foo_list %}
<div class="sw-foo-list">
    <slot/>
</div>
{% endblock %}
