<div class="sw-simple-card">
    <div class="sw-simple-card__title">{{ title }}</div>
    <div class="sw-simple-card__description">{{ description }}</div>
    <button class="sw-simple-card__action" @click="onSave">Save</button>
</div>
