{# @deprecated tag:v6.8.0 - Use mt-button instead #}
{% block sw_demo %}
<div class="sw-demo">
    {# This is an inline comment #}
    <span>Hello</span>
    {# Multi-word comment with special chars: & < > #}
    <button @click="onClick">Click</button>
</div>
{% endblock %}
