{% block sw_cms_block_category_heading %}
<div class="sw-cms-block-category-heading">
    <slot name="content">
        {% block sw_cms_block_category_heading_slot_content %}{% endblock %}
    </slot>
</div>
{% endblock %}
