{% block sw_sales_channel_detail_analytics %}
{% block sw_sales_channel_detail_analytics_configuration %}
<mt-card
    position-identifier="sw-sales-channel-detail-analytics"
    :title="$t('sw-sales-channel.detail.analytics.cardTitle')"
    :is-loading="isLoading"
>
    <template v-if="salesChannel && salesChannel.analytics">
        {% block sw_sales_channel_detail_analytics_headline %}
        <div class="sw-sales-channel-detail-analytics__headline-text">
            {{ $t('sw-sales-channel.detail.analytics.headline') }}
        </div>
        {% endblock %}

        {% block sw_sales_channel_detail_analytics_description %}
        <p
            class="sw-sales-channel-detail-analytics__description"
            v-html="$t('sw-sales-channel.detail.analytics.description')"
        ></p>
        {% endblock %}

        {% block sw_sales_channel_detail_analytics_fields_tracking_id %}
        <mt-text-field
            v-model="salesChannel.analytics.trackingId"
            :label="$t('sw-sales-channel.detail.analytics.fields.trackingId.label')"
            :placeholder="$t('sw-sales-channel.detail.analytics.fields.trackingId.placeHolder')"
            name="trackingId"
            :disabled="!acl.can('sales_channel.editor')"
            :help-text="$t('sw-sales-channel.detail.analytics.fields.trackingId.helpText')"
        />
        {% endblock %}

        {% block sw_sales_channel_detail_analytics_fields_container %}
        <sw-container
            columns="repeat(auto-fit, minmax(250px, 1fr))"
            gap="0 30px"
        >
            {% block sw_sales_channel_detail_analytics_fields_active %}
            <mt-switch
                v-model="salesChannel.analytics.active"
                :label="$t('sw-sales-channel.detail.analytics.fields.active.label')"
                name="analyticsActive"
                :disabled="!acl.can('sales_channel.editor')"
            />
            {% endblock %}

            {% block sw_sales_channel_detail_analytics_fields_anonymize_ip %}
            <mt-switch
                v-model="salesChannel.analytics.anonymizeIp"
                :label="$t('sw-sales-channel.detail.analytics.fields.anonymizeIp.label')"
                name="anonymizeIp"
                :disabled="!acl.can('sales_channel.editor')"
            />
            {% endblock %}
        </sw-container>
        {% endblock %}
    </template>
</mt-card>
{% endblock %}

{% block sw_sales_channel_detail_analytics_tracking %}
<mt-card
    v-if="salesChannel && salesChannel.analytics"
    position-identifier="sw-sales-channel-detail-analytics-tracking"
    :title="$t('sw-sales-channel.detail.analytics.tracking.cardTitle')"
    :is-loading="isLoading"
>
    {% block sw_sales_channel_detail_analytics_tracking_description %}
    <p
        class="sw-sales-channel-detail-analytics__description"
        v-html="$t('sw-sales-channel.detail.analytics.tracking.description')"
    ></p>
    {% endblock %}

    {% block sw_sales_channel_detail_analytics_fields_track_orders %}
    <sw-container
        columns="repeat(auto-fit, minmax(250px, 1fr))"
        gap="0 30px"
    >
        <mt-switch
            v-model="salesChannel.analytics.trackOrders"
            :label="$t('sw-sales-channel.detail.analytics.fields.trackOrders.label')"
            name="trackOrders"
            :disabled="!acl.can('sales_channel.editor')"
        />

        {% block sw_sales_channel_detail_analytics_fields_enhanced_conversions %}
        <mt-switch
            v-model="salesChannel.analytics.enhancedConversions"
            :label="$t('sw-sales-channel.detail.analytics.fields.enhancedConversions.label')"
            :help-text="$t('sw-sales-channel.detail.analytics.fields.enhancedConversions.helpText')"
            name="enhancedConversions"
            :disabled="!acl.can('sales_channel.editor') || !salesChannel.analytics.trackOrders"
        />
        {% endblock %}
    </sw-container>
    {% endblock %}

    {% block sw_sales_channel_detail_analytics_fields_track_offcanvas_cart %}
    <sw-container
        columns="repeat(auto-fit, minmax(250px, 1fr))"
        gap="0 30px"
    >
        <mt-switch
            v-model="salesChannel.analytics.trackOffcanvasCart"
            :label="$t('sw-sales-channel.detail.analytics.fields.trackOffcanvasCart.label')"
            :help-text="$t('sw-sales-channel.detail.analytics.fields.trackOffcanvasCart.helpText')"
            name="trackOffcanvasCart"
            :disabled="!acl.can('sales_channel.editor')"
        />
    </sw-container>
    {% endblock %}
</mt-card>
{% endblock %}
{% endblock %}
