{% block sw_bulk_edit_save_modal_success %}
<div class="sw-bulk-edit-save-modal-success">
    {% block sw_bulk_edit_save_modal_success_icon %}
    <sw-label
        class="sw-bulk-edit-save-modal__icon"
        appearance="pill"
        variant="success"
    >
        <mt-icon
            name="regular-check-circle"
            size="30px"
        />
    </sw-label>
    {% endblock %}

    {% block sw_bulk_edit_save_modal_error_content %}
    <p
        class="sw-bulk-edit-save-modal__help-text"
        v-html="description"
    >
    </p>
    {% endblock %}

    {% block sw_bulk_edit_save_modal_document_generation_errors %}
    <div
        v-if="hasSkippedDocuments || hasDocumentGenerationErrors"
        class="sw-bulk-edit-save-modal-success__document-generation-result"
    >
        <mt-banner
            v-if="hasSkippedDocuments"
            :title="$t('sw-bulk-edit.modal.success.documentGenerationSkipped', {
                count: documentGenerationResult.skipped
            }, documentGenerationResult.skipped)"
            variant="info"
            class="sw-bulk-edit-save-modal-success__info-document-generation"
        />

        <div
            v-if="hasSkippedDocuments && hasDocumentGenerationErrors"
            class="sw-bulk-edit-save-modal-success__document-generation-separator"
        ></div>

        <template v-if="hasDocumentGenerationErrors">
            <mt-banner
                :title="$t('sw-bulk-edit.modal.success.documentGenerationFailed', {
                    count: documentGenerationResult.failed
                }, documentGenerationResult.failed)"
                variant="critical"
                class="sw-bulk-edit-save-modal-success__warning-document-generation"
            />

            <sw-bulk-edit-document-generation-failed-list
                v-if="hasFailedDocumentRows"
                :rows="failedDocumentRows"
            />
        </template>
    </div>
    {% endblock %}

    {% block sw_bulk_edit_save_modal_success_download_document %}
    <ul
        v-if="selectedDocumentTypes.length > 0"
        class="sw-bulk-edit-save-modal-success__download-document-container"
    >
        <li
            v-for="selectedDocumentType in selectedDocumentTypes"
            :key="selectedDocumentType.id"
            class="sw-bulk-edit-save-modal-success__download-document"
            :class="`is--${selectedDocumentType.technicalName}`"
        >
            <span class="label">
                {{ selectedDocumentType.translated.name }}
            </span>
            <mt-button
                class="action"
                size="small"
                :disabled="document[selectedDocumentType.technicalName]?.isDownloading ?? false"
                variant="secondary"
                @click="downloadDocument(selectedDocumentType.technicalName)"
            >
                {{ $t('sw-bulk-edit.modal.success.buttonDownload') }}
            </mt-button>
        </li>
    </ul>
    {% endblock %}
</div>
{% endblock %}
