{% block sw_import_export_new_profile_wizard_csv_page %}
<div class="sw-import-export-new-profile-wizard-csv-page">
    {# @deprecated tag:v6.8.0 - Block will be removed. #}
    {% block sw_import_export_new_profile_wizard_csv_page_text %}
    {% endblock %}

    {% block sw_import_export_new_profile_wizard_csv_page_csv_upload %}
    <sw-file-input
        v-model:value="csvFile"
        :allowed-file-extensions="['csv']"
        :label="$t('sw-import-export.profile.csvUploadText')"
        class="sw-import-export-new-profile-wizard-csv-page__file-upload"
        @update:value="onFileChange"
    >
        <template #caption-label>
            {{ $t('sw-import-export.importer.labelUploadCaption') }}
        </template>
    </sw-file-input>
    {% endblock %}
</div>
{% endblock %}
