{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_inner_container %}
    <footer class="footer-minimal">
        {% block layout_footer_bottom %}
            {{ parent() }}
        {% endblock %}
    </footer>
{% endblock %}

{% block layout_footer_service_menu %}
    {% block layout_footer_minimal_revocation_button %}
        {% set cmsPath = 'frontend.cms.page.full' %}

        <div class="mb-3 text-center">
            {{ sw_block('layout_footer_navigation_revocation_button') }}
        </div>
    {% endblock %}

    {{ parent() }}
{% endblock %}
