{% block sw_cms_list_item %}
<div
    class="sw-cms-list-item"
    :class="componentClasses"
    :title="page && page.translated.name"
>

    {% block sw_cms_list_item_options %}
    <slot name="contextMenu"></slot>
    {% endblock %}

    {% block sw_cms_list_item_image %}
    <div
        v-if="page"
        class="sw-cms-list-item__image"
        :style="previewMedia"
        role="button"
        tabindex="0"
        @click="onItemClick(page)"
        @keydown.enter="onItemClick(page)"
    >
        <svg
            v-if="!previewMedia"
            class="sw-cms-list-item__placeholder"
            viewBox="0 0 253 151"
            preserveAspectRatio="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
        >
            <path d="M249 79C251.209 79 253 80.7909 253 83V147C253 149.209 251.209 151 249 151H4C1.79086 151 1.61066e-08 149.209 0 147V83C1.03083e-06 80.7909 1.79086 79 4 79H249Z" fill="var(--color-background-tertiary-default)" />
            <path d="M157 0C159.209 0 161 1.79086 161 4V67C161 69.2091 159.209 71 157 71H4C1.79086 71 0 69.2091 0 67V4C0 1.79086 1.79086 4.0266e-08 4 0H157Z" fill="var(--color-background-tertiary-default)" />
            <path d="M249 0C251.209 0 253 1.79086 253 4V67C253 69.2091 251.209 71 249 71H173C170.791 71 169 69.2091 169 67V4C169 1.79086 170.791 4.0266e-08 173 0H249Z" fill="var(--color-background-tertiary-default)" />
        </svg>
        <div v-if="isDefault">
            <span
                v-if="page.type === 'product_list'"
                class="sw-cms-list-item__is-default"
            >{{ $t('sw-cms.components.cmsListItem.defaultLayoutProductList') }}</span>
            <span
                v-else-if="page.type === 'product_detail'"
                class="sw-cms-list-item__is-default"
            >{{ $t('sw-cms.components.cmsListItem.defaultLayoutProductDetail') }}</span>
        </div>
    </div>
    <div
        v-else
        class="sw-cms-list-item__image is--empty"
    >
        {{ $t('sw-cms.components.cmsListItem.emptyText') }}
    </div>
    {% endblock %}

    {% block sw_cms_list_item_info %}
    <div class="sw-cms-list-item__info">
        <div
            v-if="page"
            class="sw-cms-list-item__status"
            :class="statusClasses"
        ></div>
        <div
            v-if="page"
            v-tooltip="{
                message: page.translated.name,
                position: 'bottom',
            }"
            class="sw-cms-list-item__title"
            role="button"
            tabindex="0"
            @click="onElementClick"
            @keydown.enter="onElementClick"
        >
            {{ page.translated.name }}
        </div>
        <mt-icon
            v-if="page && page.locked"
            class="sw-cms-list-item__locked"
            name="solid-lock"
            size="16px"
        />
    </div>
    {% endblock %}
</div>
{% endblock %}
