{% block sw_cms_el_config_location_renderer %}
<div class="sw-cms-el-config-location-renderer">
    <sw-iframe-renderer
        :key="configLocation"
        :src="src"
        :location-id="configLocation"
    />
</div>
{% endblock %}
