{% block sw_order_select_document_type_modal %}
<sw-modal
    v-bind="$attrs"
    :title="$t('sw-order.components.selectDocumentTypeModal.title')"
    variant="small"
    class="sw-order-select-document-type-modal"
    @modal-close="$emit('modal-close', false)"
>
    <mt-switch
        :model-value="showZugferd"
        class="sw-order-select-document-type-modal__type-switch"
        :label="$t('sw-order.components.selectDocumentTypeModal.showZugferd')"
        @update:model-value="onChangeShowZugferd"
    />

    <div class="sw-order-select-document-type-modal__divider"></div>

    {% block sw_order_select_document_type_modal_document_types %}
    <sw-radio-field
        v-if="!isLoading && documentTypes.length"
        v-model:value="documentType"
        :options="filteredDocumentTypes"
        class="sw-order-select-document-type-modal__radio-field"
        @update:value="onRadioFieldChange"
    />
    {% endblock %}

    <template #modal-footer>
        {% block sw_order_select_document_type_modal_footer_action_cancel %}
        <mt-button
            variant="secondary"
            data-analytics-id="sw-order-select-document-type-modal.cancel"
            @click="$emit('modal-close', false)"
        >
            {{ $t('global.default.cancel') }}
        </mt-button>
        {% endblock %}

        {% block sw_order_select_document_type_modal_footer_action_create %}
        <mt-button
            variant="primary"
            data-analytics-id="sw-order-select-document-type-modal.select"
            @click="$emit('modal-close', true)"
        >
            {{ $t('sw-order.components.selectDocumentTypeModal.primaryAction') }}
        </mt-button>
        {% endblock %}
    </template>
</sw-modal>
{% endblock %}
