{% block sw_cms_preview_category_heading %}
<div class="sw-cms-preview-category-heading">
    {% block sw_cms_preview_category_heading_name %}
    <div class="sw-cms-preview-category-heading__name">
        Lorem ipsum dolor sit amet.
    </div>
    {% endblock %}
</div>
{% endblock %}
